/* ==================== */
/* Global */
/* ==================== */

:root {
  --white: #FFFFFF;
  --shape: #707070;
  --text: #888888;
  --shadow: #00000029;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

button {
  font-family : inherit;
  font-size: 1rem;

  border-radius: 4px;
  background: white;
  border: 1px solid var(--shape)
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.line {
  flex: 0.45;
  border-bottom: solid 1px var(--shape);
  transform: translateY(-50%);
}

h2 {
  font-size: 18px;
  line-height: 16px;
  font-size: 1.125rem;
}

label {
  margin-bottom: 7px;
}

input {
  border: var(--shape) 1px solid;
  height: 30px;
  width: 340px;
  margin-bottom: 20px;
}

input[type=submit] {
  background: white;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1rem;
  width: 340px;
  height: 40px;
}

input[type=radio] {
  height: auto;
  width: auto;
}

/* ==================== */
/* Header */
/* ==================== */

header {
  background: var(--shape);
  margin-bottom: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1,
header h1 strong,
header p {
  color: white;
}

header h1 { 
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 69px;
}

header h1 strong { 
  font-size: 40px;
  font-size: 2em;
}

header p { 
  font-size: 14px; 
  font-size: 0.875rem;
  margin-top: 24px;
}

nav {
  display: flex;
  width: 760px;  
  justify-content: space-between;

  margin-top: 50px;
}

nav button {
  height: 40px;
  width: 160px;
  box-shadow: 0px 1px 6px var(--shadow);
}

header .triangleShape {
  width: 0;
  height: 0;
  border-top: 67px solid transparent;
  border-right: 750px solid transparent;
  border-bottom: 67px solid white;
  border-left: 750px solid white;
}

/* ==================== */
/* Main */
/* ==================== */
main {
  width: 920px;
  margin: 0 auto;
}

/* Algorithm */
#algorithm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

#algorithm h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;

  margin-bottom: 30px;
}

#algorithm p,
#algorithm label { 
  font-size: 12px;
}

#algorithm p {
  line-height: 1.5;
}

#algorithm article {
  width: 520px;
  /* height: 400px; */
}

#algorithm form {
  width: 340px;
  display: flex;
  flex-direction: column;
}


#gender label {
  margin-right: 40px;
  position: relative;
  top: -2px;
}

/* Products */
#products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.product img {
  height: 150px;
  width: 200px;
  border: 1px solid var(--shape);
  margin-bottom: 14px;
}

.product h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

p.description {
  font-size: 12px;
  line-height: 16px;
  height: 60px;
}

p.oldPrice {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
}

p.price {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

p.installments {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.product button {
  width: 100%;
  padding: 6px 0;
}

button#moreProducts {
  display: block;
  margin: 52px auto 128px;
  padding: 10px 36px;
}

/* Share */
#share {
  display: flex;
  flex-direction: column;

  text-align: center;
}

#share p {
  font-size: 14px;
  line-height: 16px;

  margin-top: 44px;
}

#share label {
  font-size: 12px;
  line-height: 14px;
}

#share fieldset {
  width: 720px;
  display: grid;
  
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-column-gap: 40px;

  text-align: left;

  margin: 39px auto 0;
}

#share input[type=submit] {
  margin: 50px 0 70px;
}


/* ==================== */
/* Footer */
/* ==================== */
footer {
  background: var(--shape);
  margin-bottom: 50px;

  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

footer .triangleShape {
  width: 0;
  height: 0;
  border-top: 67px solid white;
  border-right: 750px solid transparent;
  border-bottom: 67px solid transparent;
  border-left: 750px solid white;
}

footer p {
  color: white;
  font-size: 12px;
  line-height: 18px;
  padding: 20px 0 86px;
}

